.admin__content {
 width: 700px;
 margin: 0 auto;
 border: 1px solid #f0f0f0;
 border-radius: 30px;
 box-shadow: 0 2px 63px rgb(0 0 0 / 15%);
 padding: 30px;
}

.admin__trip-button {
 text-align: center;
 margin-top: 10px;
}

.admin__trip-btn {
 margin: 0 auto;
}

.admin__trip {
 font-size: 20px;
}
